Thesis_replication_package*
Information_on_Scope_Descriptions/
rep_package_previous/

*/dataset/
.env
# benchmark_out/

out/logs/*
# out/data_preprocessed/*
out/model/runs/*
out/model/checkpoint*
out/model/local_model
out/model/data_preprocessed/cache-*
out/java/*

.pytest_cache/*
tools/randoop-*
