*.arrow filter=lfs diff=lfs merge=lfs -text
*adapter/ filter=lfs diff=lfs merge=lfs -text

*.png binary
*.jpg binary
*.gif binary
*.pdf binary
*.zip binary

*.csv text eol=lf

*.pdf binary linguist-generated

*.yml text eol=lf
*.yaml text eol=lf

*.py text diff=python eol=lf 
*.java text diff=java eol=lf
