services:
  t1:
    container_name: t1
    build:
      dockerfile: docker/t1.Dockerfile
    volumes: 
      - ./out:/app/code/out/
    working_dir: /app/code
    gpus: all
    profiles: ["t1", "arno", "test"]

  t2:
    container_name: t2
    build:
      dockerfile: docker/t2.Dockerfile
    volumes:
      - ./out:/app/code/out/
    working_dir: /app/code
    gpus: all
    profiles: ["t2", "arno", "test"]
  
  t3_a:
    container_name: t3_a
    build:
      dockerfile: docker/t3_a.Dockerfile
    volumes:
      - ./out:/app/code/out/
    env_file:
      - .env
    profiles: ["t3_a", "test", "full"]

  benchmark:
    container_name: benchmark
    build:
      dockerfile: docker/benchmark.Dockerfile
    volumes:
      - ./out:/app/code/out/
    working_dir: /app/code
    depends_on:
      t1:
        condition: service_completed_successfully
      t2:
        condition: service_completed_successfully
    gpus: all
    profiles: ["benchmark", "arno"]

  api:
    container_name: api
    build:
      dockerfile: docker/api.Dockerfile
    ports:
      - "8000:80"
    gpus: all
    env_file:
      - .env
    profiles: ["api", "full"]
