services:
  t1:
    container_name: t1
    build:
      dockerfile: docker/t1.Dockerfile
    volumes: 
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app/code
    gpus: all
    profiles: ["t1", "benchmark", "arno"]

  t2:
    container_name: t2
    build:
      dockerfile: docker/t2.Dockerfile
    volumes:
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app/code
    gpus: all
    profiles: ["t2", "benchmark", "arno"]
  
  t3:
    container_name: t3
    build:
      dockerfile: docker/t3.Dockerfile
    volumes:
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app/code
    profiles: ["t3", "benchmark"]
