version: "3.9"

services:
  t1:
    restart: always
    build:
      context: .
      dockerfile: docker/t1.Dockerfile
    volumes: 
      - ./code:/app/code
      - ./data/t1:/data
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app

  t2:
    restart: always
    build:
      context: .
      dockerfile: docker/t2.Dockerfile
    volumes:
      - ./:/app
      - ./data/t2:/data
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app
