services:
  t1:
    container_name: t1
    build:
      dockerfile: docker/t1.Dockerfile
    volumes: 
      - ./out:/app/code/out/
    working_dir: /app/code
    gpus: all
    profiles: ["t1", "arno", "test"]

  t2:
    container_name: t2
    build:
      dockerfile: docker/t2.Dockerfile
    volumes:
      - ./out:/app/code/out/
    working_dir: /app/code
    gpus: all
    profiles: ["t2", "arno", "test"]
  
  t3:
    container_name: t3
    build:
      dockerfile: docker/t3.Dockerfile
    volumes:
      - ./out:/app/code/out/
    working_dir: /app/code
    profiles: ["t3", "test"]

  benchmark:
    container_name: benchmark
    build:
      dockerfile: docker/benchmark.Dockerfile
    volumes:
      - ./out:/app/code/out/
    working_dir: /app/code
    gpus: all
    profiles: ["benchmark"]
