services:
  t1:
    restart: always
    build:
      dockerfile: docker/t1.Dockerfile
    volumes: 
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app/code
    gpus: all
    profiles: ["t1", "benchmark", "arno"]

  t2:
    restart: always
    build:
      dockerfile: docker/t2.Dockerfile
    volumes:
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app/code
    gpus: all
    profiles: ["t2", "benchmark", "arno"]
  
  t3:
    restart: always
    build:
      dockerfile: docker/t3.Dockerfile
    volumes:
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app/code
    profiles: ["t3", "benchmark"]
