version: "3.9"

services:
  t1:
    restart: always
    build:
      dockerfile: docker/t1.Dockerfile
    volumes: 
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app/code
    profiles: ["t1", "benchmark"]

  t2:
    restart: always
    build:
      dockerfile: docker/t2.Dockerfile
    volumes:
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app/code
    profiles: ["t2", "benchmark"]
  
  t3:
    restart: always
    build:
      dockerfile: docker/t3.Dockerfile
    volumes:
      - ./:/app
      - ./data/t3:/Dataset/T3
      - ./benchmark_out:/app/benchmark_out
    working_dir: /app/code
    profiles: ["t3", "benchmark"]
