# Dataset directories
TRAIN_DIR: /train_dir
VAL_DIR: /val_dir
TEST_DIR: /test_dir

OUTPUT_DIR: /out/data_preprocessed/

# Model save path
SAVE_MODEL_PATH: /out/model/checkpoint.ckpt

# Logs
LOG_DIR: /out/logs

# Model parameters
MAX_LENGTH: 4096
USE_QLORA: True

BATCH_SIZE_PER_DEVICE: 1
GRAD_ACCUM_STEPS: 8
NUM_EPOCHS: 3
LEARNING_RATE: 1e-4
MAX_SAVE_TOTAL: 3
